@use 'global' as *;

.l-section__company {
    margin-bottom: 110px;
}
.l-section__company--inner {
    max-width: 1000px;
    margin: 0 auto;
}

table {
    border-top: 1px solid $border-color;
    width: 100%;
}
table th {
    width: 30%;
    font-weight: normal;
    background-color: #EDF5F5;
}
table td {
    padding-left: 29px;
}
table th,
table td {
    border-bottom: 1px solid $border-color; /* 外枠 */
    border-collapse: collapse; /* セルのボーダーを重ねて1本に */
    padding: 25px;
}
