@use 'global' as *;

.l-header__nav--item--dropdown > button,
.l-footer__nav--item--dropdown > button {
    margin: 0;
    padding: 0;
}
.l-header__item:not(:last-child)::after,
.l-header__nav--item--dropdown:not(:last-child)::after,
.l-footer__nav--item--dropdown:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%; /* 線の長さを調整 */
    background-color: #707070; /* 線の色を指定 */
}

.l-header__nav--item--dropdown > button:hover,
.l-footer__nav--item--dropdown > button:hover {
    color: $primary;
    font-weight: bold;
    transition: all .1s ease-in-out;

    & + .l-header__dropdown,
    & + .l-footer__dropdown--list {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

.dropdown-toggle {
    width: 100%;

    @include mq(md) {
        width: auto;
        font-size: clamp(0.75rem, 1.25vw, 1.5rem);
        // font-weight: 700;
    }
}

/* ドロップダウンの基本スタイル */
.l-header__dropdown,
.l-footer__dropdown--list {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 20px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    display: none;
    list-style: none;
    padding: 20px 20px 0 20px;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 100;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    @include mq(md) {
        width: 163px;
        right: 10px;
        left: -20px;
        height: auto;
        text-align: center;
    }

    &:hover {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}


/* ドロップダウンアイテムのスタイル */
.l-header__dropdown--item,
.l-footer__dropdown--item {
    color: #333333;
    display: block;
    font-size: 1.4rem;
    padding: 10px;
    text-decoration: none;
    transition: all .3s ease-in-out;

    @include mq(md) {
        font-size: 16px;
        padding: 21.5px 0;
    }
}

.l-header__dropdown--item:hover,
.l-footer__dropdown--item:hover {
    color: $primary;
    transition: all .3s ease-in-out;
}

.l-header__dropdown li,
.l-footer__dropdown--list li {
    border-left: none;
}

.l-header__dropdown li:nth-child(2),
.l-footer__dropdown--list li:nth-child(2) {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #484848;
        opacity: .3;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #484848;
        opacity: .3;
    }
}

/*ドロップダウンの表示非表示を切り替えるためのクラス*/
.l-header__dropdown.show,
.l-footer__dropdown--list.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

.header__dropdown {
    @extend .l-header__dropdown;
}

.header__dropdown--item {
    @extend .l-header__dropdown--item;
}
