@use 'global' as *;

.hamburger {
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    width: 60px;
    z-index: 9999;
    opacity: 1;

    @include mq(md) {
        opacity: 0;
    }
}

/*×に変化*/
.hamburger span {
    background-color: #666666;
    border-radius: 2px;
    display: inline-block;
    height: 3px;
    left: 10px;
    position: absolute;
    transition: all .4s;
    width: 55%;
}
.hamburger span:nth-of-type(1) {
    top: 15px;
}
.hamburger span:nth-of-type(2) {
    top: 25px;
}
.hamburger span:nth-of-type(3) {
    top: 35px;
}
.hamburger.is-active span:nth-of-type(1) {
    left: 18px;
    top: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 60%;
}
.hamburger.is-active span:nth-of-type(2) {
    opacity: 0;
}
.hamburger.is-active span:nth-of-type(3) {
    left: 18px;
    top: 30px;
    transform: translateY(-6px) rotate(45deg);
    width: 60%;
}

// drawer menu
.l-header__nav--list {
    display: flex;
    font-size: clamp(1rem, 2vw, 2rem);
    gap: 1em;
    margin: 0;
    padding: 0;
}
.l-header__nav--item > a {
    border-bottom: 2px solid transparent;
    display: block;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: bold;
    padding: 5px 20px;
    text-decoration: none;
    transition: border-color .3s;
}
.l-header__nav--list.open li a {
    font-size: 2rem;
}
.l-header__nav--item > a:hover {
    border-bottom: 2px solid #2eaafd;
    color: #2eaafd;
    transition: .3s;
}

.l-header__nav--list.open {
    padding: 0;
    right: 0;
}
