@use 'global' as *;

.c-triangle--wrapper {
    display: flex;
    gap: 190px;
    position: absolute;
    top: 50%;
    left: 184px;
    transform: translate(0, -50%);
}
.c-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 16px solid #a4dde0;
    border-right: 0;
}

// arrow
// .c-arrow {
//     position: relative;
//     display: inline-block;
//     width: 33px;
//     height: 62px;
// }

// .c-arrow::before,
// .c-arrow::after {
//     content: "";
//     position: absolute;
//     top: calc(50% - 2px);
//     right: 0;
//     width: 45px;
//     height: 4px;
//     border-radius: 9999px;
//     background-color: #000000;
//     transform-origin: calc(100% - 2px) 50%;
// }

// .c-arrow::before {
//     transform: rotate(90deg);
// }

// .c-arrow::after {
//     transform: rotate(0deg);
// }