// // @use 'global' as *;

// // .l-about__wrapper {
    
// //     @include mq(md) {
// //         display: flex;
// //         position: relative;
// //         padding: 3.8125rem 12.5rem 3.375rem;
// //         justify-content: space-between;
// //     }
// // }

// // .l-about__wrapper::before {
// //     display: none;
    
// //     @include mq(md) {
// //         display: block;
// //         position: absolute;
// //         right: 0;
// //         z-index: 5;
// //         width: 65%;
// //         height: 50%;
// //         bottom: 3.375rem;
// //         background-image: url(../images/section_about/about_background-image@2x.webp);
// //         content: "";
// //     }
// // }

// // .l-about__title--wrapper {
// //     width: 100%;
// //     margin: 0 auto;
    
// //     @include mq(md) {
// //         max-width: 34.375rem;
// //         width: 80%;
// //         margin-left: auto;
// //     }
// // }

// // .l-about--first-image {
// //     width: 100%;
// //     height: auto;
// //     object-fit: cover;
// //     overflow: hidden;
    
// //     @include mq(md) {
// //         width: 22.0625rem;
// //         height: 26.5rem;
// //         z-index: 10;
// //         position: relative;
// //     }
// // }

// // .l-about--second--image {
// //     width: 100%;
// //     height: auto;
    
// //     @include mq(md) {
// //         position: relative;
// //         width: 22.3125rem;
// //         height: 16.125rem;
// //         overflow: hidden;
// //         top: -2.4375rem;
// //         left: 7.25rem;
// //         z-index: 9;
// //     }
// // }

// // .l-about__text-area {
// //     // margin-top: rem(30);
    
// //     @include mq(md) {
// //         margin-top: 3.75rem;
// //         position: relative;
// //         z-index: 5;
// //     }
// // }

// // .l-about--text {
// //     line-height: 1.8;
// //     letter-spacing: 0.1em;
    
// //     @include mq(md) {
// //         font-size: 0.875rem;
// //         line-height: 1.875rem;
// //         letter-spacing: 0.1875rem;
// //     }
// // }

// // .l-section-about--button {
// //     text-align: center;
    
// //     @include mq(md) {
// //         margin-top: 4.375rem;
// //         margin-left: auto;
// //         display: block;
// //     }
// // }


// @use 'global' as *;

// .p-about__wrapper {
    
//     @include mq(md) {
//         display: flex;
//         position: relative;
//         padding: 3.8125rem 12.5rem 3.375rem;
//         justify-content: space-between;
//     }
// }

// .p-about__wrapper::before {
//     display: none;
    
//     @include mq(md) {
//         display: block;
//         position: absolute;
//         right: 0;
//         z-index: 5;
//         width: 65%;
//         height: 50%;
//         bottom: 3.375rem;
//         background-image: url(../images/section_about/about_background-image@2x.webp);
//         content: "";
//     }
// }

// .p-about__title--wrapper {
//     width: 100%;
//     margin: 0 auto;
    
//     @include mq(md) {
//         max-width: 34.375rem;
//         width: 80%;
//         margin-left: auto;
//     }
// }

// .p-about--first-image {
//     width: 100%;
//     height: auto;
//     object-fit: cover;
//     overflow: hidden;
    
//     @include mq(md) {
//         width: 22.0625rem;
//         height: 26.5rem;
//         z-index: 10;
//         position: relative;
//     }
// }

// .p-about--second--image {
//     width: 100%;
//     height: auto;
    
//     @include mq(md) {
//         position: relative;
//         width: 22.3125rem;
//         height: 16.125rem;
//         overflow: hidden;
//         top: -2.4375rem;
//         left: 7.25rem;
//         z-index: 9;
//     }
// }

// .p-about__text-area {
//     // margin-top: rem(30);
    
//     @include mq(md) {
//         margin-top: 3.75rem;
//         position: relative;
//         z-index: 5;
//     }
// }

// .p-about--text {
//     line-height: 1.8;
//     letter-spacing: 0.1em;
    
//     @include mq(md) {
//         font-size: 0.875rem;
//         line-height: 1.875rem;
//         letter-spacing: 0.1875rem;
//     }
// }

// .p-section-about--button {
//     text-align: center;
    
//     @include mq(md) {
//         margin-top: 4.375rem;
//         margin-left: auto;
//         display: block;
//     }
// }
// @use 'global' as *;

// .l-details {
//     background-image: url(../images/section_details/details_bg@2x.png);
//     background-size: 100% auto;
//     background-repeat: no-repeat;
//     background-position: top;
//     padding-top: 80px;
// }
// .l-details__title--wrapper {
//     text-align: center;
// }
// .l-details__wrapper {
//     max-width: 1000px;
//     display: flex;
//     margin: 0 auto 66px;
//     gap: 27px;
// }
// .l-details__contents {
//     width: calc(100% - 81px / 4);
// }
// .l-details__contents img {
//     width: 100%;
//     margin-bottom: 40px;
// }
// .l-details__inner--title {
//     margin-bottom: 14px;
//     font-size: 22px;
//     text-align: center;
// }
// .l-details__inner--description {
//     font-size: 14px;
// }


@use 'global' as *;

.p-details {
    background-image: url(../images/section_details/details_bg@2x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 80px;
}
.p-details__title--wrapper {
    text-align: center;
}
.p-details__wrapper {
    max-width: 1000px;
    display: flex;
    margin: 0 auto 66px;
    gap: 27px;
}
.p-details__contents {
    width: calc(100% - 81px / 4);
}
.p-details__contents img {
    width: 100%;
    margin-bottom: 40px;
}
.p-details__inner--title {
    margin-bottom: 14px;
    font-size: 22px;
    text-align: center;
}
.p-details__inner--description {
    font-size: 14px;
}
