// @use 'global' as *;

// .l-flow {
//     display: flex;
//     margin: 0 auto 117px;
//     max-width: 1000px;
//     padding-top: 117px;
// }
// .l-flow__title--wrapper {
//     margin-right: 24px;
// }
// .l-flow--wrapper {
//     position: relative;
// }

// .l-flow--list {
//     display: flex;
//     gap: 26px;
// }

// .l-flow--item {
//     color: $white;
//     background-color: $primary;
//     border-radius: 100vh;
//     width: 180px;
//     height: 180px;
// }
// .l-flow--item img {
//     width: 72px;
//     height: 63px;
//     margin: -5px auto 11.5px;
// }
// .l-flow--number {
//     color: $primary;
//     background-color: #EDF5F5;
//     border-radius: 100vh;
//     width: 50px;
//     height: 50px;
//     align-items: center;
//     display: flex;
//     justify-content: center;
//     font-weight: bold;
// }

// .l-flow--icon {

// }

// .l-flow__item--text {
//     text-align: center;
// }



@use 'global' as *;

.p-flow {
    display: flex;
    margin: 0 auto 117px;
    max-width: 1000px;
    padding-top: 117px;
}
.p-flow__title--wrapper {
    margin-right: 24px;
}
.p-flow--wrapper {
    position: relative;
}

.p-flow--list {
    display: flex;
    gap: 26px;
}

.p-flow--item {
    color: $white;
    background-color: $primary;
    border-radius: 100vh;
    width: 180px;
    height: 180px;
}
.p-flow--item img {
    width: 72px;
    height: 63px;
    margin: -5px auto 11.5px;
}
.p-flow--number {
    color: $primary;
    background-color: #EDF5F5;
    border-radius: 100vh;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.p-flow--icon {

}

.p-flow__item--text {
    text-align: center;
}
