@use 'global' as *;

.p-main-view {
    position: relative;
    height: 550px;
    overflow: hidden;
}

.p-mv__wrapper {
    position: relative;
}

.p-message--catch-copy {
    font-size: 3.25rem;
    color: #7bd1d5;
    position: absolute;
    top: 170px;
    left: 120px;
    z-index: 10;
    transform: rotate(-7deg);
}
.p-mv__main--catch-copy {
    font-size: clamp(1.125rem, 2vw, 3.25rem);
    color: #7bd1d5;
    position: absolute;
    top: 170px;
    left: 120px;
    z-index: 10;
    transform: rotate(-7deg);
}
@media screen and (max-width: 1024px) {
    .p-mv__main--catch-copy {
        position: absolute;
        
    }

}

.p-mv__image {
    position: absolute;
    right: 0;
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 50px 0 0 50px;
}
.p-mv__title {
    position: absolute;
    top: 266px;
    left: 201px;
}
@media screen and (max-width: 1024px) {
    .p-mv__image {
        width: 85%;
    }
    .p-mv__title {
        position: absolute;
        top: 266px;
        left: 201px;
    }
}


.p-mv__main--title {
    font-size: 2.125rem;
    color: #fff;
    background-color: $primary;
}

.p-mv__main--title:nth-child(2) {
    margin: 8px 0 20px;
}

.p-mv__sub--title {
    text-align: center;
}

.p-mv__blog--wrapper {
    padding-top: 0;
    display: flex;
}

.p-mv__blog--contents {
    display: flex;
    padding: 100px 0;
    width: 100%;
    justify-content: center;
    background-image: url(../images/bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.p-mv__blog--list {
    padding-left: 20px;
}

.p-mv__blog--item {
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

.p-mv__blog--link {
    display: flex;
    gap: 20px;
}
