@use 'global' as *;

.p-message {
    
}

.p-message__wrapper {
    display: flex;
    min-width: 1200px;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

.p-message--img {
    width: 660px;
}

.p-message__title--wrapper {
    max-width: 500px;
    margin-left: 40px;
}

.p-message__list--title {
    font-size: 24px;
    padding: 16px 41px 0 0;
}

.p-message__list--title::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $primary;
    margin: 8px 0 24px;
}
.p-message__list--title > span {
    font-size: 38px;
    color: $primary;
}
.p-message__area--list {
    max-width: 1000px;
    margin: 0 auto;
}
.p-message__area--item {
    display: flex;
    align-items: center;
}
.p-message__area--inner {
    width: 55%;
}
.p-message__contents {
    width: 100%;
}
.p-message__area--item:nth-child(odd) .p-message__contents {
    padding-right: 41px;
}
.p-message__area--item:nth-child(even) .p-message__contents {
    padding-left: 41px;
}
.p-message__area--item:nth-child(even) .p-message__list--title {
    padding-left: 41px;
}
.p-message__area--item:nth-child(even) .p-message__area--number {
    margin-left: 41px;
}
.p-message__area--number {
    color: #fff;
    background-color: $primary;
    width: 105px;
    text-align: center;
}
.p-message__area--item:nth-child(odd) {
    flex-direction: row-reverse;
}
.p-message__area--item:nth-child(even) {
    margin: 40px 0;
}
.p-message__area--img {
    width: 45%;
}

.p-message__area--item:nth-child(even) .p-message__contents {
    padding-right: 0;
}

.p-message--text {
    font-size: 14px;
}
@media screen and (max-width: 767px) {
    .p-message__area--item,
    .p-message__area--item:nth-child(odd) {
        flex-direction: column;
        margin-bottom: 40px;
        gap: 24px;
    }
    .p-message__area--item:nth-child(even) .p-message__contents,
    .zigzag02__contents {
        width: 100%;
        padding: 0;
    }
    .p-message__area--img {
        width: 100%;
    }
}
