@use 'global' as *;

.l-header {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    width: 100%;

    @include mq(md) {
        height: 5rem;
        padding-left: 7%;
    }
}

.l-header__logo img {
    width: 210px;

    @include mq(md) {
        width: 367px;
        margin: 0;
    }
}

.l-header__inner {
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    @include mq(md) {
        display: flex;
    }
}

.l-header__nav {
    width: 55%;
}

.l-header__nav--item--dropdown {
    position: relative;
    padding: 0;
    margin: 0;
}

.l-header__nav--item {
    position: relative;
    padding: 0;
    margin: 0;
}

.l-header__nav--item::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -30px; /* 要素間の距離を考慮して中央に配置 */
    height: 60%; /* 線の長さを調整 */
    background-color: #707070;
    width: 1px;
    transform: translateY(-50%);
}



// .l-header__item {
//     margin: 10px 0;
//     padding: 0 29.5px;
//     transition: all .1s ease-in-out;
//     cursor: pointer;
//     color: #484848;

//     @include mq(md) {
//         margin: 0 15px;
//     }
// }
// .l-header__item:hover {
//     color: $primary;
//     font-weight: bold;
//     transition: all .1s ease-in-out;
// }


// drawer menu
.l-header__nav--list {
    display: flex;
    font-size: clamp(1rem, 1.5vw, 2rem);
    justify-content: space-around;
    margin: 0 1rem 0 0;
    padding: 0;
    align-items: center;
}
.l-header__nav--item > a {
    border-bottom: 2px solid transparent;
    display: block;
    font-size: clamp(0.75rem, 1.25vw, 1.5rem);
    // font-weight: bold;
    // padding: 5px 20px;
    text-decoration: none;
    transition: border-color .3s;
}
.l-header__nav--list.open li a {
    font-size: 2rem;
}
.l-header__nav--item > a:hover {
    border-bottom: 2px solid #2eaafd;
    color: #2eaafd;
    transition: .3s;
}

.l-header__nav--list.open {
    padding: 0;
    right: 0;
}

.btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    color: #484848;
}

.l-header--tel-number {
    margin-left: 1.875rem;
    font-size: 2rem;
    height: 80px;
    padding-left: 25px;

    @include mq(md) {
        margin: 0;
        // width: 40%;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: Noto Sans JP;
        line-height: 1.2;
        padding-top: 15px;
        background-color: #EDF5F5;
    }
}
.l-header--tel-number a {
    margin-right: 40px;
}
.l-header--tel-number span {
    font-size: 1rem;
    font-weight: bold;
}
.time {
    font-size: 0.75rem;
    margin: 0 30px 0 0;

    @include mq(md) {
        font-size: .75rem;
    }
}
.time a {
    font-size: 26px;
    font-weight: bold;
    margin-right: 30px;
}

.l-header__contact--button {
    background-color: $primary;
    width: 120px;
    font-size: 1.125rem;
    height: 80px;
    align-items: center;
    display: flex;

    @include mq(md) {
        width: auto;
        margin-top: 0;
        padding: 15px 30px;
    }
}

