@use 'global' as *;

.l-message {
    
}

.l-message__wrapper {
    display: flex;
    min-width: 1200px;
    align-items: center;
    margin-bottom: 40px;
}

.l-message--img {
    width: 660px;
}

.l-message__title--wrapper {
    max-width: 500px;
    margin-left: 40px;
}

.l-message__list--title {
    font-size: 24px;
    padding: 16px 41px 0 0;
}

.l-message__list--title::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $primary;
    margin: 8px 0 24px;
}
.l-message__list--title > span {
    font-size: 38px;
    color: $primary;
}
.l-message__area--list {
    max-width: 1000px;
    margin: 0 auto;
}
.l-message__area--item {
    display: flex;
    align-items: center;
}
.l-message__area--inner {
    width: 55%;
}
.l-message__contents {
    width: 100%;
}
.l-message__area--item:nth-child(odd) .l-message__contents {
    padding-right: 41px;
}
.l-message__area--item:nth-child(even) .l-message__contents {
    padding-left: 41px;
}
.l-message__area--item:nth-child(even) .l-message__list--title {
    padding-left: 41px;
}
.l-message__area--item:nth-child(even) .l-message__area--number {
    margin-left: 41px;
}
.l-message__area--number {
    color: #fff;
    background-color: $primary;
    width: 105px;
    text-align: center;
}
.l-message__area--item:nth-child(odd) {
    flex-direction: row-reverse;
}
.l-message__area--item:nth-child(even) {
    margin: 40px 0;
}
.l-message__area--img {
    width: 45%;
}

.l-message__area--item:nth-child(even) .l-message__contents {
    padding-right: 0;
}

.l-message--text {
    font-size: 14px;
}
@media screen and (max-width: 767px) {
    .l-message__area--item, .l-message__area--item:nth-child(odd) {
        flex-direction: column;
        margin-bottom: 40px;

        gap: 24px;
    }
    .l-message__area--item:nth-child(even) .l-message__contents, .zigzag02__contents {
        width: 100%;
        padding: 0;
    }
    .l-message__area--img {
        width: 100%;
    }
}